.Navbar{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Nav-Title >h2{
    color: #ffffff;
}

.Nav-Links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Links{
    margin-left: 20px;
    margin-right: 20px;
}

.Links > a{
    color: #ffffff;
}